body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar-left {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  float: left;
  font-size: small;
}

.navbar-right {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  float: right;
  font-size: small;
}

.image {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-left: 8%;
}

.searchBar {
  margin: 0 auto;
  width: 582px;
  position: relative;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 8px;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: -internal-light-dark-color(white, black);
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

input:focus {
  outline: none;
}

.searchBar:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

input.search-input[type="text"] {
  background-color: #ffffff;
  box-sizing: border-box;
  border: 0 none transparent;
  height: 25px;
  width: 510px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

footer {
  list-style-type: none;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(240, 240, 240);
}

.foot-left {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  float: left;
  font-size: small;
}

.foot-right {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  float: right;
  font-size: small;
}
